.pro {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    /* padding-bottom: ; */
    width: 300px;
    background-color: var(--section-bg);
        
}
.h{
    height: 280px !important;
    
}
.pro-name {
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
    cursor: pointer;
}
.single{
    height: 500px !important;
    margin: 10px 0px 10px 0px;
    padding-bottom: 10px;
  
}

.pro-name:hover {
    color: var(--main-color);
}

.single .img {
    width: 100%;
    overflow: hidden;
   
}
.single .img img{
    width: 300px;
}
.single img:hover{
    transform: scale(1.1);
    transition: 0.5s;
    overflow: hidden;
} 
i{cursor: pointer;}
.con{
    background-color: var(--main-color);
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    transition: 0.5s;
    border: 1px solid var(--main-color);
}
.con:hover{
    color: var(--main-color);
    background-color: transparent;
}
.class{
    border-radius: 20px !important;
}
.dark.class{
    border-radius: 20px !important;
}
.pro p{color: black;}
@media screen and (min-width :992px) and (max-width:1385px) {
    .calss{
      width: 300px !important;
    }
}